.image-preview {
    width: 200px;
}

.btn-primary1 {
    font-size: 17px;
}

.InstaKilogram {
    font-size: 27px;
    color: rgb(0, 0, 0);
}

.text-title {
    font-size: 20px;
}

.comment-field {
    height: 200px;
}

.image-detail {
    height: 450px;
}

